<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Kenali Saya Lebih Jauh</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Saya menjadi mahasiswa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Saya merupakan mahasiswa di Universitas Islam Sultan Syarif Qasim Riau</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Saya Memasuki Tahun Ke dua</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dengan berbagai macam perkuliahan akhirnya saya memasuki perkuliahan pada tahun ke dua yaitu semester 3</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">memulai perkuliahan Daring</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">covid 19 sudah banyak terjadi di mana membuat banyak sekolah melakukan belajar daring </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>